<form action="/institutie/<%= @institution.id %>/noteaza" method="get">
  <fieldset>
    <div id="avatar">
      <img src="/images/ratings/rating5.png" alt=""/>
    </div>
    <div id="message">&nbsp;</div>
    <div id="slider">
      <input type="range" name="nota" id="rating" min="1" max="10" value="<%= cookies["institutie#{@institution.id}"] || 5 %>" step="1"/>
    </div>

    <div id="noteaza">
      <% unless current_user %>
          <%= raw RPXNow.popup_code 'Dă nota!', 'statometruro', user_sessions_url, :html => {:class => "Button"} %>
      <% else %>
          <input type="submit" id="rate" value="Dă nota!" class="Button">
      <% end %>
    </div>
  </fieldset>
</form>

<div id="profile">
  <div id="address">Adresa: <%= @institution.address %></div>
  <div id="statometru">Statometrul curent: <%= @institution.rating %></div>
  <div id="ratings"><%= @institution.rate_count %> note</div>
</div>

<script type="text/javascript">

    var rating = <%= cookies["institutie#{@institution.id}"] || 5 %>;

    var text = new Array();
    text[0] = 'Nota 1';
    text[1] = 'Nota 2';
    text[2] = 'Nota 3';
    text[3] = 'Nota 4';
    text[4] = 'Nota 5';
    text[5] = 'Nota 6';
    text[6] = 'Nota 7';
    text[7] = 'Nota 8';
    text[8] = 'Nota 9';
    text[9] = 'Nota 10';

    function rate(index, first) {
        $('#avatar').find('img').attr('src', '/images/ratings/rating' + index + '.png');
        $('#message').text(text[index - 1]);
    }

    function preload(arrayOfImages) {
        $(arrayOfImages).each(function() {
            $('<img/>')[0].src = this;
        });
    }

    preload([
        '/images/ratings/rating1.png',
        '/images/ratings/rating2.png',
        '/images/ratings/rating3.png',
        '/images/ratings/rating4.png',
        '/images/ratings/rating5.png',
        '/images/ratings/rating6.png',
        '/images/ratings/rating7.png',
        '/images/ratings/rating8.png',
        '/images/ratings/rating9.png',
        '/images/ratings/rating10.png'
    ]);

    $(document).ready(function() {
        $("#rating").rangeinput({
            onSlide: function(event, value) {
                rate(value);
                $.cookie('institutie' + '<%= @institution.id %>', $('#rating').val());
            },
            change: function(event, value) {
                rate(value);
                $.cookie('institutie' + '<%= @institution.id %>', $('#rating').val());
            }
        });

        var range = $('#rating').data('rangeinput');
        range.setValue(rating);

    });
</script>
