<h1>Institutii</h1>

<%= form_for(:search) do |f| %>
    <%= f.text_field :search_term %>
    <%= f.submit 'search' %>
<% end %>

<% @institutions.each do |institution| %>
    <p>
      <%= link_to institution.name, "/institutie/#{institution.id}" %>
    </p>

<% end %>

<%= will_paginate @institutions %>