<h1>Do the search</h1>

<%= form_tag('/find', :method => "get") do %>
    <%= text_field_tag :search_term %>
    <%= submit_tag 'Search' %>
<% end %>

<% @institutions.each do |institution| %>
    <p><%= institution.name %></p>
<% end %>

<%= will_paginate @institutions %>