<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>statometru.ro</title>

  <%= stylesheet_link_tag 'application' %>

  <%= javascript_include_tag :defaults %>
</head>
<body>
<div id="wrapper">
  <a id="logo" href="/">
    statometru.ro
  </a>

  <div id="main">
    <% if current_user.blank? %>
        <%= link_to_rpx "Sign in", user_session_url %>
    <% else %>
        Welcome <%= current_user.email %>
        <%= link_to "Sign out", destroy_user_session_url %>
    <% end %>

    <div id="action">
      <ul id="steps">
        <li id="step1" class="current"><span>1</span> Alege institutia pe care vrei sa o ratezi</li>
        <li id="step2"><span>2</span>Rateaza institutia</li>
      </ul>
      <%= form_tag('/find', :method => "get") do %>
          <fieldset>
            <div id="fields">
              <%= text_field_tag :institution, :value => "Institutia (ex. Spitalul Municipal)" %>
              <%= text_field_tag :location, :value => "Locatie (ex. Sibiu)" %>
            </div>
            <%= submit_tag 'Cauta', :class => "Button" %>
          </fieldset>
      <% end %>
    </div>

    <div id="content">
      <%= yield %>
    </div>

  </div>
  <div id="footer">
    <p>
      <a href="#">Blog</a> |
      <a href="#">Despre StatoMetru</a> |
      <a href="#">Contact</a>
    </p>

    <p>
      &copy; 2011 statometru.ro
    </p>
  </div>
</div>
</body>
</html>
