<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>statometru.ro</title>

    <%= stylesheet_link_tag 'application' %>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.cookie" %>

</head>
<body>
	<div id="wrapper">
		<a id="logo" href="/">
			statometru.ro
		</a>

		<div id="main">

            <% if current_user %>
            <li>
                Hi, <%= h(current_user.username) %> <%= link_to 'Logout', '/logout' %>
            </li>
            <% else %>
            <li>
              <!--
                <%=raw RPXNow.popup_code 'Login', 'statometruro', user_sessions_url %>
              -->
            </li>
            <% end %>

          <% if flash[:notice] %>
            <div class="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <%= yield %>

		</div>
		<div id="footer">
			<p>
				<a href="#">Blog</a> |
				<a href="#">Despre StatoMetru</a> |
				<a href="#">Contact</a>

			</p>
			<p>
				&copy; 2011 statometru.ro
			</p>
		</div>
	</div>
</body>
</html>
